<html>
  <head>
    <meta charset="utf-8">
    <title>Play Image</title>
    <link rel="stylesheet" href="libs/bootstrap-3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/font-awesome-4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid" id="config">
        <div class="navbar-header dropdown">
          <button type="button" class="navbar-toggle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-cog"></i>
          </button>
          <a class="navbar-brand" href="#">Image Box</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="right: 0;left: auto;margin-top: -6px;margin-right: 13px;">
            <li><a href="javascript:;" v-on:click="chooseDirectory">Choose Directory</a></li>
            <li><a href="javascript:;" v-on:click="fork">Fork Me</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <ul class="list-group" id="file-list">
        <li class="list-group-item" v-for="file in fileList">
          <h5 class="list-group-item-heading">
            {{ file.path | basename }}
            <i class="fa fa-spin fa-circle-o-notch text-primary" v-if="file.status == 'pending'"></i>
            <i class="fa fa-spin fa-cog text-primary" v-if="file.status == 'doing'"></i>
            <i class="fa fa-check text-success" v-if="file.status == 'done'"></i>
            <i class="fa fa-ban text-danger" v-if="file.status == 'error'"></i>
            <i class="fa fa-warning text-warning" v-if="file.status == 'expired'"></i>
            <span class="text-success" v-if="file.status == 'done'">{{ file | reduced }}</span>
          </h5>
          <p class="list-group-item-text">
            {{ file.mtime | formatDate }}
          </p>
        </li>
      </ul>
    </div>

    <script type="text/javascript">window.$ = window.jQuery = require('./libs/jquery-1.12.0.min.js');</script>
    <script src="libs/bootstrap-3.3.6/js/bootstrap.min.js"></script>
    <script src="libs/vue.js"></script>
    <script src="libs/moment.js"></script>
    <script>
      const electron = require('electron')
      const path = require('path')
      var fileModel = {
        fileList: []
      }
      var configModel = {}

      Vue.config.debug = true

      var vFile = new Vue({
        el: '#file-list',
        data: fileModel,
        filters: {
          formatDate: function(string) {
            return moment(string).fromNow()
          },
          basename: function(string) {
            return path.basename(string)
          },
          dirname: function(string) {
            return path.dirname(string)
          },
          reduced: function(file) {
            return file.toSize <= 0 ? '' : Math.round(((file.fromSize - file.toSize) / file.fromSize) * 100) + '%'
          }
        }
      })

      var vConfig = new Vue({
        el: '#config',
        data: configModel,
        methods: {
          chooseDirectory: function() {
            electron.ipcRenderer.send('chooseDirectory')
          },
          fork: function() {
            electron.shell.openExternal('https://github.com/yisheng/ImageBox')
          }
        }
      })

      electron.ipcRenderer.on('files', function(event, files) {
        fileModel.fileList = files
      })

      electron.ipcRenderer.on('config', function(event, config) {
        console.log(config)
      })
    </script>
  </body>
</html>

